body{
  font-family: 'DM Sans', sans-serif !important;
}
h1, h2, h3, h4{
  font-family: 'Josefin Sans', sans-serif;
}
.Toastify__toast-body{
  font-family: 'DM Sans', sans-serif;
  padding: 0 !important;
}
.Toastify__toast{
  min-height: unset !important;
}